

footer{
    background-color: #5a5a5a;
    color: #ffffff;
    padding-bottom: 20px;
    padding-top: 20px;
}

.chat {
    margin-top: 100px;
}

.chat-body {
    border: solid 2px #757575;
    min-height: 250px;
}

.chat-footer {
    border: solid 2px #757575;
    margin-top: 10px;
    margin-bottom: 20px;
}

input {
    border: none;
}

[contenteditable=true]:empty:before {
    content: attr(placeholder);
    display: block;
    /* For Firefox */
}

/* */

div[contenteditable=true] {
    border: 1px dashed #AAA;
    width: 290px;
    padding: 5px;
}

.chat-body p {
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 5px;
}

.msg-eu {
    text-align: right;
}

.msg-outro {
    background-color: #efefef;
    text-align: left;
}


h3{
    padding-left: 18px;
    padding-right: 18px;
    padding-bottom: 5px;
    border-bottom: solid 3px #007bff;
    display: inline-block;
}

.button-option{
    background-color: #808080;
    width: 100px;
    height: 100px;
    padding: 25px;
    padding-top: 15px;
    text-align: center;
    font-size: 50px;
    cursor: pointer;
    display: inline-block;
    margin-bottom: 5px;
}

.button-option-p{
    width: 50px;
    height: 50px;
    padding-top: 3px;
    text-align: center;
    font-size: 25px;
    display: inline-block;
    margin-bottom: 5px;
}

.button-option:active{
    background-color: #2d2d2d;
}

.button-option-g{
    background-color: #808080;
    width: 200px;
    height: 200px;
    padding: 50px;
    padding-top: 30px;
    text-align: center;
    font-size: 100px;
    cursor: pointer;
    display: inline-block;
    margin-bottom: 5px;
}

.button-option-g:active{
    background-color: #2d2d2d;
}

.ligado{
    color: #ffed00;
}

.desligado{
    color: black;
}

.button-option-footer{
    font-weight: bold;
}

.button-option-footer-g{
    font-weight: bold;
    font-size: 150%;
}

.button-option-footer-p{
    font-weight: bold;
    font-size: 60%;
}

.header-button{
    margin-bottom: 30px;
}

.margin-bottom{
    margin-bottom: 40px;
}

.apertou{
    margin-bottom: 40px;
}





.notfy{
    font-size: 130%;
    z-index: 5;
    position: fixed;
    margin-right: 10%;
    margin-top: 100px;
    margin-left: 90%;
}

.borda{
    border: solid 4px #07bd35;
    background-color: #ffffff00;
    cursor: pointer;
}



.alerta-on{
    -webkit-animation:myfirst 5s infinite;

}

@-webkit-keyframes myfirst /* Firefox */
{
0%   {border-color:red;}
50%  {border-color:yellow;}
100%   {border-color:red;}
}
